﻿
.table-hover tbody tr:hover {
    cursor:pointer;
}

th:nth-child(1) {
    width: 45%;
    text-align: center;
}

th:nth-child(2) {
    width: 30%;
    text-align: right;
}

th:nth-child(3) {
    width: 25%;
}

.table td {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.table td:nth-child(2) {
    text-align: right;
    padding-right: 1rem;
}

.card:hover {
    background-color: #c1f0f6 !important;
    border-style: solid;
    border-color: #17a2b8 !important;
    cursor: pointer;
}

.card-body {
    padding-bottom: 0rem;
}

.card {
    margin-bottom: 0.5rem;
}

svg {
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.enter {
    fill: #f6d0c1;
    background-color: #f6d0c1;
    border-bottom: #17a2b8 3px;
    stroke: #f97d4c;
}

rect:hover {
    fill: #fd9a73;
    background-color: #fd9a73;
}

.axisx text {
    display: none;
}

.axisx path, .axisy path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.highlight {
    background-color: #aef0f8 !important;
}


