﻿@{ ViewBag.Title = "South Australia Reservoir Volumes"; }

@section styles {
    @Styles.Render("~/Content/Site.css")
}

<!-- Do NOT change this html.  All work must be done via the script element -->
<div class="row">
    <div class="col-5">
        <div class="border rounded border-info p-1" id="reservoirList">
            <h3 class="text-center">Reservoir List</h3>
        </div>
    </div>
    <div class="col-7" id="graphs">
    </div>
</div>


@section scripts {
    <script src="~/Scripts/d3/d3.js"></script>
    <script>

        // Request for all reservoir data.
        var $request = $.ajax({
            url: '/api/Reservoirs',
            method: 'GET',
            timeout: 10000
        })

        // Request succeed.
        $request.done(function (response) {

            // Create table heading.
            var $table = $('<table>').addClass('table table-striped table-hover')
                .on('click', '.active', function () { $(this).addClass('highlight').siblings().removeClass('highlight') })
                .appendTo('#reservoirList');
            var $thead = $('<thead>').appendTo($table);
            var $tr = $('<tr>').appendTo($thead);
            $('<th>').text('Name').appendTo($tr);
            $('<th>').text('Capacity (ML)').appendTo($tr);
            $('<th>').text('').appendTo($tr);

            // Message before choosing a reservoir.
            var $message = $('<p>').text('Select a Reservoir to view...').appendTo('#graphs');

            // Insert data to table.
            var $tbody = $('<tbody>').appendTo($table);
            $.each(response, function (i, reservoir) {
                var $tr = $('<tr>')
                    .attr('title', 'Click to view ' + reservoir.reservoirDetail.reservoirName + ' capacity data from ' + reservoir.dateRange.from + ' to ' + reservoir.dateRange.to + ' [' + reservoir.records + ' records]')
                    .on('click', function () {
                        selectItem(reservoir.reservoirDetail.reservoirID, reservoir.reservoirDetail.reservoirName);
                        $tr.addClass('active');
                        $message.attr('hidden', "");
                    })
                    .appendTo($tbody);
                $('<td>').text(reservoir.reservoirDetail.reservoirName).appendTo($tr);
                $('<td>').text(reservoir.reservoirDetail.capacityML.toLocaleString()).appendTo($tr);

                // map button
                var $map = $('<td>').appendTo($tr);
                $('<button>').addClass('btn btn-outline-info')
                    .text('View Map')
                    .click(function () { window.open('http://www.google.com/maps/place/' + reservoir.reservoirDetail.reservoirName) })
                    .appendTo($map);
            });
        })

        // Request fail.
        $request.fail(function () {
            // append error message on page
            $('#reservoirList').remove();
            $('#graphs').remove();
            var $errorMessage = $('<p>').text('Failed to load Reservoir Data').appendTo('.row').css('text-align', 'center');
            $('<button>').addClass('btn').addClass('btn-outline-primary').text('Reload page').appendTo($errorMessage).css('margin-left', '10px').click(function () { location.reload(true); });
        })

        var svg = null;

        // Get 1 reservoire data.
        function selectItem(selectedID, reservoirName) {
            var $request = $.ajax({
                url: '/api/Reservoirs/' + selectedID,
                method: 'GET',
                data: null,
                timeout: 5000
            })

            $request.done(function (response) {
                $('#graphs').empty();

                // Create card for each year.
                $.each(response, function (i, reservoir) {
                    var $card = $('<div>').addClass('card')
                        .attr('title', 'Click to view volume detail')
                        .on('click', function () {
                            $(this).addClass('highlight').siblings().removeClass('highlight');
                            var card = $(this);
                            var exist = $(this).find("svg");
                            if (exist.length == 0) {
                                var width = d3.select('#graphs').node().offsetWidth - 70;
                                var height = 400;
                                svg = d3.select($(this)[0])        
                                    .append('figure')
                                    .append('svg')
                                    .attr('width', width)
                                    .attr('height', height)
                                    .style('display', 'none');
                                if ($(this).find("svg").first().is(":hidden")) {
                                    $(this).find("svg").slideDown("slow");
                                }
                                
                                selectYear(selectedID, response[i].year);
                                $(this).siblings().find("figure").remove();
                            }

                        })
                        .appendTo('#graphs');

                    // Adding content to cards.
                    var $body = $('<div>').addClass('card-body').appendTo($card);
                    $('<h5>').addClass('card-title').text(reservoir.year).appendTo($body);
                    $('<p>').addClass('card-text').text('Records: ' + reservoir.records + ' dating from ' + reservoir.firstMonthName + ' to ' + reservoir.lastMonthName).append(
                        $('<p>').text('Avg Volume: ' + reservoir.avgVolume.toLocaleString() + ' ML')).appendTo($body);
                });

            })

            $request.fail(function () {
                $('#reservoirList').remove();
                $('#graphs').remove();
                var $errorMessage = $('<p>').text('Failed to load Reservoir Data').appendTo('.row').css('text-align', 'center');
                $('<button>').addClass('btn').addClass('btn-outline-primary').text('Reload page').appendTo($errorMessage).css('margin-left', '10px').click(function () { location.reload(true); });
            })

            // Get data for 1 year.
            function selectYear(selectedID, selectedYear) {
                var $request = $.ajax({
                    url: '/api/Reservoirs/' + selectedID + '?year=' + selectedYear,
                    method: 'GET',
                    data: null,
                    timeout: 5000
                })

                $request.done(function (response) {

                    // Create chart.
                    var dataset = [];
                    $.each(response, function (i, reservoir) {
                        dataset.push(response[i]);
                    });

                    // dataset
                    var max = d3.max(dataset, function (d, i) { return d.avgVolume; });

                    // margin
                    var chartMargin = new Object();
                    chartMargin.left = 60;
                    chartMargin.right = 40;
                    chartMargin.top = 50;
                    chartMargin.bottom = 45;

                    // chart size
                    var width = d3.select('#graphs').node().offsetWidth - chartMargin.left - 10;
                    var height = 400;

                    width = width - chartMargin.left - chartMargin.right;

                    // scale for x axis
                    var xScale = d3.scaleLinear()
                        .domain([0, max])
                        .range([0, width]);

                    height = height - chartMargin.bottom - chartMargin.top;

                    // scale for y axis
                    var yScale = d3.scaleBand()
                        .domain(dataset.map(function (d, i) { return d.dayNo + "-" + d.monthName.substring(0, 3); }))
                        .range([chartMargin.top, height])
                        .paddingInner(0.2);

                    // append group (bar + text)
                    var chartGroup = svg.append('g')
                        .classed('chartGroup', true)
                        .attr('transform', 'translate(' + chartMargin.left + ',' + chartMargin.top + ')');

                    var barGroups = chartGroup
                        .selectAll('g')
                        .data(dataset);

                    var newBarGroups = barGroups.enter()
                        .append('g')
                        .attr('transform', function (d, i) {
                            return 'translate('
                                + (0)
                                + ','
                                + (yScale(d.dayNo + "-" + d.monthName.substring(0, 3)))
                                + ')';
                        });

                    // append rect (bar)
                    newBarGroups
                        .append('rect')
                        .attr('x', 0)
                        .attr('width', function (d, i) { return xScale(d.avgVolume) * 0.1; })
                        .attr('height', yScale.bandwidth())
                        .classed('enter', true)
                        .transition()
                        .ease(d3.easeCubicOut)
                        .duration(800)
                        .delay(function (d, i) { return i * 100; })
                        .attr('width', function (d, i) { return xScale(d.avgVolume); });

                    // bar's tooltip
                    svg.selectAll('rect')
                        .append("svg:title")
                        .text(function (d) { return d.avgVolume + ' ML on ' + d.dayNo + ' ' + d.monthName + ' of ' + d.year; });

                    // append text
                    newBarGroups
                        .append('text')
                        .attr('x', 50)
                        .attr('y', (yScale.bandwidth() + 8) / 2)
                        .style('font-size', '0.8em')
                        .style("text-anchor", "end")
                        .transition()
                        .ease(d3.easeCubicOut)
                        .duration(800)
                        .delay(function (d, i) { return i * 100; })
                        .attr('x', function (d, i) { return xScale(d.avgVolume) - 5; })
                        .attr('fill', 'white')
                        .text(function (d, i) { return d.avgVolume.toLocaleString(); });

                    // x axis
                    var xAxis = d3.axisBottom(xScale).tickSize(0); 

                    chartGroup.append('g')
                        .attr('transform', 'translate(0,' + height + ')')
                        .classed('axisx', true)
                        .call(xAxis);

                    // y axis
                    var yAxis = d3.axisLeft(yScale).tickFormat(function (d) { return d.split("-")[1]; }).tickSize(0);

                    chartGroup.append('g')
                        .attr('transform', 'translate(0,' + '0)')
                        .classed('axisy', true)
                        .call(yAxis);

                    // chart label
                    chartGroup.append("text")
                        .attr("transform",
                            "translate(" + width / 2 + " ," + "0)")
                        .style("text-anchor", "middle")
                        .text(reservoirName + " in " + selectedYear)
                        .style('font-size', '1.3em')
                        .style('font-weight', '500');

                    // y axis label
                    chartGroup.append("text")
                        .attr("y", 40)
                        .attr("x", - 25)
                        .style("text-anchor", "middle")
                        .text("Month")
                        .style('font-size', '1em');

                    // x axis label
                    chartGroup.append("text")
                        .attr("transform",
                            "translate(" + (width / 2) + " ," +
                            (height + 25) + ")")
                        .style("text-anchor", "middle")
                        .text("Reservoir Volume (ML)")
                        .style('font-size', '1em');
                })

                $request.fail(function () {
                    $('#reservoirList').remove();
                    $('#graphs').remove();
                    var $errorMessage = $('<p>').text('Failed to load Reservoir Data').appendTo('.row').css('text-align', 'center');
                    $('<button>').addClass('btn').addClass('btn-outline-primary').text('Reload page').appendTo($errorMessage).css('margin-left', '10px').click(function () { location.reload(true); });
                })
            }
        }


    </script>
}

